@use "./functions.scss" as f;

// VARIABLES

// / Colors:
// // Neutrals:
$white: #ffffff;
$black: #000000;

// /// Greys:
$grey-800: #334253;
$grey-500: #67727e;
$grey-100: #e9ebf0;
$grey-050: #f5f6fa;

// // Purple:
$purple-600: #5357b6;
$purple-200: #c5c6ef;

// // Pink:
$pink-400: #ed6368;
$pink-200: #ffb8bb;

// TYPOGRAPHY

// / Font 1: Kumbh Sans:
$font-family: "Rubik";

$font-1: (
  font-size: f.rem(24),
  font-weight: 500,
  line-height: 1.2,
  letter-spacing: em(0),
);

$font-2-m: (
  font-size: f.rem(16),
  font-weight: 500,
  line-height: 1.5,
  letter-spacing: em(0),
);

$font-2-r: (
  font-size: f.rem(16),
  font-weight: 400,
  line-height: 1.5,
  letter-spacing: em(0),
);

$font-3: (
  font-size: f.rem(13),
  font-weight: 500,
  line-height: 1.2,
  letter-spacing: em(0),
);

// Spacing:

$spacing-0100: f.em(8);
$spacing-0200: f.em(16);
$spacing-0300: f.em(24);
$spacing-0500: f.em(40);

// RESETS:

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: $font-family;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0); /* Fallback for older browsers */
  clip-path: inset(50%); /* Modern alternative */
  white-space: nowrap;
  border: 0;
}
